* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile {
  display: none;
}

/* Color Variables */
:root {
  /* Rose */
  --rose-800: #7a284e;
  --rose-50: #fff7fb;

  /* Stone */
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;

  /* Brown */
  --brown-800: #854632;

  /* White */
  --white: #fff;
}

/* Typography Styles */

@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Young Serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

.text1 {
  font-family: "Young Serif";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
}

.text2 {
  font-family: "Young Serif";
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
}

.text3 {
  font-family: "Outfit";
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
}

.text4 {
  font-family: "Outfit";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

.text4-bold {
  font-family: "Outfit";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--stone-100);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 15rem;
  padding: 8rem 3rem;
}

main {
  background-color: var(--white);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  row-gap: 2.5rem;
  padding: 2.5rem;
  border-radius: 1.5rem;
  width: 736px;
  height: auto;
  overflow: hidden;
}

hr {
  border: 1px solid var(--stone-150);
}

/* Intro Image */

img {
  height: 300px;
  width: auto;
  border-radius: 0.75rem;
}

/* Intro Section */
section.description {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  row-gap: 1.5rem;
  text-align: left;
}

section.description h1 {
  color: var(--stone-900);
}

section.description p {
  color: var(--stone-600);
}

/* Preparation Section */

section.prep-time {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
  padding: 2rem;
  background-color: var(--rose-50);
  align-items: flex-start;
  border-radius: 0.75rem;
}

section.prep-time h3 {
  text-align: left;
  color: var(--rose-800);
}

section.prep-time ul {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5rem;
  list-style-position: inside;
  color: var(--stone-600);
}

section.prep-time li::marker {
  color: var(--rose-800);
}

section.prep-time span {
  padding-left: 1rem;
}

/* Ingredients Section */

section.ingredients {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1.5rem;
  align-items: flex-start;
}

section.ingredients h2 {
  color: var(--brown-800);
  text-align: left;
}

section.ingredients ul {
  position: relative;
  left: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5rem;
  align-items: flex-start;
  list-style-position: outside;
}

section.ingredients li::marker {
  color: var(--brown-800);
}

section.ingredients li {
  padding-left: 1rem;
  color: var(--stone-600);
}

/* Instructions section */

section.instructions {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1.5rem;
  align-items: flex-start;
}

section.instructions h2 {
  color: var(--brown-800);
  text-align: left;
}

section.instructions ol {
  list-style-position: outside;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5rem;
  padding-left: 1.5rem;
}

section.instructions li {
  padding-left: 1rem;
  color: var(--stone-600);
}

section.instructions li::marker {
  color: var(--brown-800);
  font-family: "Outfit";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
}

/* Nutrition Section */

section.nutrition table {
  border-collapse: collapse;
}

section.nutrition {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1.5rem;
}

section.nutrition h2 {
  color: var(--brown-800);
  text-align: left;
}

section.nutrition p {
  color: var(--stone-600);
}

section.nutrition td.header {
  text-indent: 1.7rem;
  color: var(--stone-600);
}

section.nutrition td {
  color: var(--brown-800);
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--stone-150);
}

section.nutrition td.no-bottom-border {
  border-bottom: none;
}

section.nutrition td.no-top-padding {
  padding-top: none;
}

@media only screen and (max-width: 770px) and (min-width: 380px) {
  main {
    width: 616px;
  }
}

@media only screen and (max-width: 650px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  main {
    width: 100%;
    row-gap: 2rem;
    padding: 2.5rem 2rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  body {
    padding: 0;
    row-gap: 0;
  }

  img {
    height: 171px;
    border-radius: 0;
  }

  .text1 {
    font-size: 2.25rem;
  }

  .attribution {
    display: none;
  }

  .prep-time li {
    text-wrap: nowrap;
  }
}
